li {
    list-style-type: none;
    float: left;
 }
 li a {
    color: black;
    padding: 30px ;
    text-align: center;
 }
 li {
    margin-bottom: 50px;
 }
 .navbar {
    width: 100%;
    height: 65px;
    position-visibility: relative;
 }
 