ul{
    list-style: none;
}

.imgLi0ne {
    width: 30%
}

.imgLi0ne img {
    width: 100%;
    aspect-ratio: 1/1.25;

}

.threeImgCont {
    background-color:rgba(151, 136, 114, 0.3);
}

.threeImgCont p {
    font-size: 12px;
    margin-top: 1em;
}