
  :root {
    --bg-color: #fbfbfb;
    --text-color: #0e0c09;
    --clr-primary: #978872;
    --clr-secondary: #85b091;
    --clr-accent: #bdc8ae;  

    /* fonts */
    --font-heading: "Zen Dots", sans-serif;
    --font-text: "Raleway", sans-serif;
}


.zen-dots-regular {
    font-family: var(--font-heading);
    font-weight: 400;
    font-style: normal;
}

.raleway-heading-regular {
    font-family: var(--font-text);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-heading-bold {
    font-family: var(--font-text);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.light-text {
    color: var(--bg-color)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
    font-family: var(--font-text);
}
.quoteSection{
    background-image: url("./images/lunar-module-ascent-stage.webp");
    background-size:cover;
    position: relative;
    overflow: hidden;
}
.quoteSection p{
    color:var(--bg-color);
    position: relative;
}
.quoteSection p::before{ 
    content: '"';
    color:var(--clr-primary);
    font-size: 100px;
    font-style: italic;
}

.cards {
    z-index: 2;
    position: relative;
}

.quoteContent{
    position: relative;
    z-index: 2;
}
.endQuote{
    position: absolute;
    bottom: -1em ;
    color:var(--clr-primary);
    font-size: 100px;
    right: .5em;
}
.linkMore{
    background-color: var(--clr-accent) ;
    border-color: var(--clr-primary);
}
footer{
    background-color: var(--clr-primary);
    color: #fbfbfb;
}
footer a{
    color: #fbfbfb;
    text-decoration: none;
}
footer h4{
    width: fit-content;
    border-bottom: 2px solid var(--bg-color);
    padding-bottom: 2px;
}
footer img{
    width: 75px;
}
.side-images img{
    width: 175px;
}
.side-images{
    background-color: rgba(189, 200, 174, 0.3);
    height: 100%;
    border: 1px solid var(--clr-accent);
}
.mainContText{
    max-width: 1000px;
}
.main-content{
    background-color:rgba(151, 136, 114, 0.3);
    border: 1px solid var(--clr-primary);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 50px !important;
}
.mainimg{
    width:40%;
    
}
.hoverImg{
    position:relative;
    border-radius: 25px;
}
.hoverImg p{
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 50%;
    width: 90%;
    text-align: center;
    font-size: 22px;
    color: #fbfbfb;
    text-shadow: 2px 2px 2px black;
    opacity: 0;
    transition: 0.2s;
    transform: translate(-50%, 10px);
    pointer-events: none;
}

.hoverImg:hover p{
    opacity: 1;
    transform: translate(-50%, 0px);
}
.greyout{
    position: absolute;
    z-index: 2 ;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 61, 52, 0.5);
    border-radius: inherit;
    opacity: 0;
    transition: 0.2s;
}

.greyout:hover{
    opacity: 1;
}
.hoverImg img{
    border-radius: inherit;
}
ul{
    list-style: none;
}

.imgLi0ne {
    width: 30%
}

.imgLi0ne img {
    width: 100%;
    aspect-ratio: 1/1.25;

}

.threeImgCont {
    background-color:rgba(151, 136, 114, 0.3);
}

.threeImgCont p {
    font-size: 12px;
    margin-top: 1em;
}
.w-40{
    width: 30%;
    aspect-ratio: 1/1.2;
    object-fit: cover;
}
.authImg{
    max-width: 350px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    margin: 30px;
    margin-bottom: 30px;
}

 .star {    
    display: block;
    position:absolute;
    top: 50%;
    left: 30%;
    animation: twinkle 5s 0s infinite linear;
    opacity: 0;
    pointer-events: none;
}
.starHolder{
    background-color: #000000;
    overflow: hidden;
    position: relative;
}


@keyframes twinkle{
    0%{
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80%{
        opacity: 1;
    }

    90%{
        opacity: 0 ;
    }
    100%{
        transform: translate(-100px, 100px);
    }
}

/* @keyframes animateStar {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-100px, 70px);
}} */ 